.navcontainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  background: #e8e6e6;
  height: 90px;
  max-width: 1550px;
  width: 100%;
  align-items: center;
}

.navlogo {
  width: 120px;
  height: 120px;
}

.navlogo img {
  height: 70px;
  width: 70px;
  background-color: black;
  border-radius: 50px;
  margin-top: 25px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 10px;
}

.menu li a {

  color: #18191c;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  padding: 0;
}

.menu button {
  margin-top: 5px;
  height: fit-content;
  padding: 10px;
  border: none;
  
  color: #18191c;
  font-size: 25px;
  font-weight: 300;
  border-radius: 50px;
  width: 50px;
  align-items: center;
  background-color: transparent;
  transition: background 0.3s, color 0.3s, border 0.3s;

}

.hamburger {
  display: none;
}

@media (max-width: 1130px) {
  .navcontainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #333;
    align-items: center;
  }

  .hamburger {
    display: block;
    font-size: 35px;
    color: #ececf1;
    cursor: pointer;
  }

  .menu {
    position: fixed;
    top: 90px;
    left: -100%; 
    width: 250px;
    flex-direction: column;
    background-color: #f1f3f6;
    transition: left 0.3s ease;
    height: 100vh;
    padding-top: 0px;
  }

  .show-menu {
    left: 0;
    box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .menu li a {
    color: #184235;
    font-size: 15px;
    display: block;
    padding: 15px 0;
  }

  .menu button {
    width: 60%;
    background: transparent; 
    color: black;
    margin: 20px auto;
    font-size: 30px;
    text-align: center;
    display: block;
  }

  .menu button:hover {
    background: #18191c;
    color: #f1f3f6;
  }
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(to right, #f0f4f8, #e2e8f0);
  min-height: 100vh;
}

.profile-container {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
  color: #2d3748;
  text-align: center;
  margin-left: 0 auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e2e8f0;
}

.profile-item:last-child {
  border-bottom: none;
}

.label {
  font-weight: 500;
  color: #4a5568;
}

.value {
  color: #2d3748;
}

.profile-item input {
  border-radius: 8px;
  width: 300px;
  height: 40px;
  border: none;
}