body {
    margin: 0;
   padding: 0;
    box-sizing: border-box;
   
    font-family: 'Roboto',sans-serif;

}
/* ::-webkit-scrollbar{
    display: none;
} */
h1{
    font-size: 4rem;
}
@media (max-width: 1520px) {
    h1 {
      font-size: 3.4rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.7rem;
    }
    h6 {
      font-size: 1.3rem;
    }
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 2.6rem;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 1.45rem;
    }
    h6 {
      font-size: 1.15rem;
    }
  }
  